body {
    font-family: 'Poppins', sans-serif;
    background-color: #dfffe4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #125835;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(8, 65, 22);
}

.title {
    text-align: center;
    margin-bottom: 20px;
    color: #032b12;
}


.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #0b3d13;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-submit {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #083313;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.btn-submit:hover {
    background-color: #076b3c;
}

