* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
.topbar {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: center;
  background-color: #0d2219;
  padding: 10px 20px;
  border-bottom: 1px solid #ffffff;
  position: relative;
}

.menu-left,
.menu-right {
  display: flex;
  align-items: center;
  flex-wrap: wrap; 
}

.menu-button {
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  margin-left: 20px;
  cursor: pointer;
}

.admin-img {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.notification {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-left: 20px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100px;
  left: 30px;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(11, 143, 81, 0.705);
  border: 6px solid #052910;
  z-index: 9;
  min-width: 190px;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #0b775c;
  border-bottom: 5px solid #052910;
}

.dropdown-menu a:last-child {
  border-bottom: none;
}




.search-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.search-bar {
  width: 100%;
  padding: 10px;
  border: 1px solid #176b1b;
  border-radius: 5px;
}


  
  main {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  footer {
    background-color: #1c3326;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p {
    margin: 0 0 15px 0;
    font-size: 16px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 17px;
}

footer ul li {
    margin: 0;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 14px;
}

footer ul li a:hover {
    color: #00aaff;
}

@media (max-width: 768px) {
    footer ul {
        flex-direction: column;
        gap: 10px;
    }
    
    footer p {
        margin-bottom: 10px;
    }
}